<footer>
  <div class=" jumbotron jumbotron-fluid">
    <div class="container" style=" min-width: 90%;">
      <div class="row">
        <div class="col-lg-4 col-4 text-center vertical-center">
          <a [routerLink]="['/home']">
            <h4>
              <img style="height: 3.5em" src="../../assets/images/updated-images/UiBank_Logo.svg" alt="UiBank Logo" />
              <br />
            </h4>
          </a>
        </div>
        <div class="col-lg-4 col-4 text-center vertical-bottom div-middle" style="margin-top: 1rem;">
          <div class=" col-md-12 version text-center" id="version" style="display: block;"> UiBank
            v{{ version }}</div>
          <div class=" col-md-12 version text-center uibank-label text-black">UiBank is an application used only for
            demo
            purposes.Please see
            here the full <a style="color: black;" href="https://www.uipath.com/legal/privacy-policy"
              target="_blank">Privacy
              Policy</a></div>
        </div>
        <div class="col-lg-4 col-4 col-sm-8 text-center vertical-center div-right" style="padding-top: 1rem;">
          <ul style="list-style-type:none">
            <li>
              <a [routerLink]="['/loans']"> Need a Loan?</a>
            </li>
            <li>
              <a [routerLink]="['/help']">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>