<footer>
  <div class=" jumbotron jumbotron-fluid">
    <div class="container" style=" min-width: 90%;">
      <div class="row">
        <div class="col-lg-4 col-4 text-center vertical-center">
          <a [routerLink]="['/home']">
            <h4>
              <img style="height: 3.5em" src="../../assets/images/updated-images/UiBank_Logo.svg" alt="UiBank Logo" />
              <br />
            </h4>
          </a>
        </div>
        <div class="col-lg-4 col-4 text-center vertical-bottom div-middle" style="margin-top: 2rem;">
          <div class=" col-md-12 version text-center" id="version"> UiBank
            v{{ version }}</div>
        </div>
        <div class="col-lg-4 col-4 col-sm-8 text-center vertical-center div-right" style="padding-top: 1rem;">
          <ul style="list-style-type:none">
            <li>
              <a [routerLink]="['/loans']"> Need a Loan?</a>
            </li>
            <li>
              <a [routerLink]="['/help']">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>