.middle-adjust-container {
    max-width: 70%;
    text-align: center;
}

.card-header {
    border: none;
    background: transparent;
}

.card-body {
    background-image: url("../../../../assets/images/updated-images/Main_banner_3.png");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



.row {
    margin-top: 1rem;
}

.input-size {
    padding: 0 3rem;
}

@media(max-width: 767px) {
    .middle-adjust-container {
        max-width: fit-content;
    }
}