<div class="jumbotron jumbotron-fluid shadow-sm bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div *ngIf="this.valid; else notValid">
                    <img class="text-center" src="../../../../assets/images/updated-images/uibank_mailbox.svg" />
                    <div class="sm-spacer"></div>
                    <div class="text-center text-white">
                        <h3>
                            Your link to reset has been sent to your email!
                        </h3>
                    </div>
                </div>
                <ng-template #notValid>
                    There was an error
                </ng-template>
            </div>
        </div>
    </div>
</div>