<div class="jumbotron jumbotron-fluid shadow-sm loan-container">
  <div class="text-container text-center d-flex flex-wrap justify-content-center align-items-center">
    <h2>
      Financing for what ever life throws at you!
    </h2>
    <p>
      Use our loan calculator to see if you qualify for a loan with UiBank
    </p>
    <div class="form-button">
      <div class="btn-group" role="group" aria-label="first group">
        <button id="applyButton" type="submit" [routerLink]="['/loans/apply']" class="btn  btn-white btn-xl">Apply For A
          Loan</button>
        <button id="existingButton" type="submit" [routerLink]="['/loans/lookup']"
          class="btn  btn-white-nofill btn-xl">Already
          Have A Loan?</button>
      </div>
    </div>
  </div>
</div>