<div class="card shadow-sm">
    <div class="card-header">
        <a style="cursor: pointer; color:white" (click)="backButton()">
            <strong>
                < </strong>
        </a>
    </div>
    <div class=" card-body form-box-smooshed">
        <div class="spacer"></div>
        <div class="sm-spacer"></div>
        <h1 class="text-center text-white">Under Maintenance!</h1>
        <br>
        <h4 class="text-center text-white small-text">We're sorry, but our website is currently undergoing scheduled
            maintenance.</h4>
        <h4 class="text-center text-white small-text">We apologize for any inconvenience this may cause.</h4>
        <div class="sm-spacer"></div>
        <div class="text-center">
            <img class="text-center" height="120px" src="../../assets/images/updated-images/maintenance.svg" />
        </div>
        <div class="spacer"></div>
    </div>
</div>
<div class="spacer"></div>