.card-body {
    background-image: url('../../../../assets/images/updated-images/Main_banner_2.png');
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2em;
    min-width: 50%;
    margin-bottom: 5rem;
}

.form-group {
    flex: 0 1 40em;
}

.form-button {
    flex: 0 1 30em;
    margin-top: 2em;
    flex-basis: auto;
}

.card {
    margin-bottom: 5em;
    margin-top: 2em;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
}

p {
    font-weight: 300;
}