<div class="card shadow-sm">
    <div class="card-body">
        <a style="cursor: pointer" class="text-white" (click)="backButton()">
            <span class="material-icons text-white">
                arrow_back
            </span>
        </a>
        <h1 class="title text-center text-white">Password Reset</h1>
        <p class="text-center text-white">Enteryour email to receive a link in order to reset your password</p>
        <div class="d-flex justify-content-center align-items-center">
            <form class="form-container form-box" #passwordResetForm="ngForm"
                (ngSubmit)="resetPassword(passwordResetForm)">
                <div class="form-group">
                    <label class="uibank-label" for="loanAmount">Enter Your Email</label>
                    <input type="text" class="form-control uibank-input" id="email" ngModel name="email"
                        aria-describedby="email" placeholder="Enter Your Email">
                </div>
                <button type="submit" class="btn btn-white btn-xl form-button">Reset Password</button>
            </form>
        </div>
    </div>
</div>